.carousel-item{

    background-color: rgba(255, 255, 255, .5);
}

.bd-placeholder-img {
    
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

   
  .carousel-caption h1 {

    color:white!important;
    font-size:50px;
    text-shadow: #000000 1px 0 10px;
}

.carousel-caption h1 {

    color:white!important;
    font-size:50px;
    text-shadow: #000000 1px 0 5px;
}

.carousel-caption p {

    color:white!important;
    font-size:20px;
    text-shadow: #000000 1px 0 5px;
}


  

